/* line 5, simple_progress_bar.scss */
.bar {
  border: 1px solid #666;
  margin-top: 0.25em;
}

/* line 10, simple_progress_bar.scss */
.fill {
  height: 1.333em;
  background: #a9c13b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9c13b), color-stop(100%, #535f1d));
  background-image: -webkit-linear-gradient(#a9c13b, #535f1d);
  background-image: -moz-linear-gradient(#a9c13b, #535f1d);
  background-image: -o-linear-gradient(#a9c13b, #535f1d);
  background-image: -ms-linear-gradient(#a9c13b, #535f1d);
  background-image: linear-gradient(#a9c13b, #535f1d);
}

/* line 16, simple_progress_bar.scss */
.bar, .fill {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
