.bar { border: 1px solid #666; margin-top: 0.25em; }

.fill { height: 1.333em; background: #a9c13b; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9c13b), color-stop(100%, #535f1d)); background: -webkit-linear-gradient(#a9c13b, #535f1d); background: -moz-linear-gradient(#a9c13b, #535f1d); background: -o-linear-gradient(#a9c13b, #535f1d); background: -ms-linear-gradient(#a9c13b, #535f1d); background: linear-gradient(#a9c13b, #535f1d); }

.bar, .fill { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
